@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-[#333];
}

.underline-effect, .active {
  position: relative;

}

.underline-effect::after, .active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #0284c7;
  transform: scaleX(0);
  transition: transform 0.3s;
}

.underline-effect:hover::after {
  transform: scaleX(1);
}

.underline-effect:hover {
  color: #0284c7;
}

.active {
  color: #0284c7;
}

.active::after {
  transform: scaleX(1);
}